{% extends "agenda/base.html" %}


{% block header %}
<header class="header_appointment">
    <h1 class="h1_signup">BYou</h1>
</header>
{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1>Concreter une RDV</h1>	
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}                    
		<button class="btn btn-primary" type="submit">Envoyer</button>
	</form>
	<p class="text-center">Si vous avez déjà votre compte, <a href="/login">login</a> ici.</p>
</div>

{% endblock %}