{% extends "agenda/base.html" %}


{% block header %}
<header class="header_appointment">
    <h1 class="h1_signup">BYou</h1>
</header>
{% endblock %}

{% block content %} 

{% comment %} {% load {% static '' %} %}          {% endcomment %}

<!--Register--> 
<div class="container py-5">
	<h1>Concreter une RDV</h1>	
	<form method="POST">
		{% csrf_token %}
		<label for= "date"> Choissisez votre date t votre créneau :</label> 
		<input type="datetime-local" id="date" name="date" min"{{datetime.now|date:'Y-m-d'}} T09:00" max="{{ datetime.now|date:'Y-m-d'}} T17:00"><br>                  
		<button class="btn btn-primary" type="submit">Envoyer</button>
	</form>
	<p class="text-center">Si vous avez déjà votre compte, <a href="/login">login</a> ici.</p>
</div>

{% endblock %}