{% extends 'agenda/base.html' %}

{% block title %}
<title>BYou</title>
{% endblock %}


{% block header %}
<header>
    <h1>BYou</h1>
    <h3 class="baseline">Soyez maître de votre destin</h3>
</header>
{% endblock %}

{% block content %}
    
<h2 class="h2_main_area">
    C'est à VOUS !
</h2>

<p class="initial_p_main_area">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laborum consectetur tempore. 
    Accusamus tenetur voluptatem et minus ducimus architecto numquam at, facere fugiat expedita animi beatae, 
    aspernatur delectus accusantium assumenda rerum eos velit quia, excepturi quae error. Rem odio laboriosam 
    saepe quae, corrupti aut, consequatur, ab temporibus deserunt dolores quam ipsum voluptas est? Cum laudantium o
    bcaecati eos voluptatum eius omnis quisquam molestiae. Eius accusamus, illum hic obcaecati odit magnam quod, 
    similique odio quasi fugiat magni architecto, asperiores quibusdam. Ab soluta rem hic? Eum magni ullam impedit 
    deserunt iusto sequi deleniti mollitia illum omnis libero. Ipsum magnam ipsa ea, asperiores fugit sunt porro in 
    aspernatur, tempore explicabo consequuntur? Labore voluptates accusantium, maiores recusandae non sint nam ratione 
    nisi ullam quae quam a provident repellat blanditiis ex illo obcaecati deserunt numquam magnam quod inventore eos!
    
</p>

{% endblock %}

